<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oslab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OSLab">
        <activity
            android:name=".BankersActivity2"
            android:exported="true"
            android:label="BANKER&apos;S ALGORITHM 2"
            android:parentActivityName=".BankersActivity1" />
        <activity
            android:name=".BankersActivity1"
            android:exported="true"
            android:label="BANKER&apos;S ALGORITHM 1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>